<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
<body>
    <a href="/"><h1>Account setup</h1></a>
    <form action="">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <p>I play on...</p>
        <button>PC</button>
        <button>PS</button>
        <button>XBOX</button>
        <button>NINTENDO</button>
        <p>The language I speak is...</p>
        <input list="languages">
        
        <datalist id="languages">
            <option value="English">
            <option value="Dutch">
            <option value="Spanish">
            <option value="Mandarin">
            <option value="Russian">
        </datalist>
        
        <p>When I play games I want to...</p>
        <input type="checkbox" id="relax" name="relax">
        <label for="relax"> Relax </label>
        <input type="checkbox" id="friends" name="friends">
        <label for="friends"> Make friends </label><br>
        <input type="checkbox" id="win" name="win">
        <label for="win"> Win </label>
        <input type="checkbox" id="better" name="better">
        <label for="better"> Get better </label><br>
        <button>Continue</button>
    </form> 
</body>
</html>