<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>          <!--  Helaas geeft deze line een foutmelding in VSCode, echter werkt de code wel gewoon zonder enige problemen. -->

<body>
    <a href="/"><h1>Game, set, match</h1></a>
    <h2>Account setup</h2>
    <form id="register">
        <input type="text" id="username" autocomplete="off" placeholder="Username..."/>
        <input type="email" id="email" autocomplete="off" placeholder="Email..."/>
        <input type="password" id="password" autocomplete="off" placeholder="Password..."/>
        <h2>Platform of choice</h2>
        <div class="platforms" >
            <input type="checkbox" id="pc" name="platform" value="pc"/>
            <label for="pc"> <img src="images/pc.png" alt="Steam logo"> </label>                <!-- Bron: https://commons.wikimedia.org/wiki/File:Steam_icon_logo.svg-->
            <input type="checkbox" id="playstation" name="platform" value="playstation"/>
            <label for="playstation"> <img src="images/ps.png" alt="Playstation logo"> </label>     <!-- Bron: https://nl.wikipedia.org/wiki/Bestand:Playstation_logo_colour.svg-->
            <input type="checkbox" id="xbox" name="platform" value="xbox"/>
            <label for="xbox"> <img src="images/xbox.png" alt="Xbox logo"> </label>     <!-- Bron: https://commons.wikimedia.org/wiki/File:Xbox_one_logo.svg-->
         </div>                            
        <h2>Game I like to play</h2>        <!--  Bron voor cover-art afbeeldingen hieronder gebruikt, Twitch: https://www.twitch.tv/directory -->
        <div class="games">
            <input type="checkbox" id="fortnite" name="game" value="fortnite"/>
            <label for="fortnite"> <img src="images/fortnite.jpg" alt="Fortnite cover art"> </label>
            <input type="checkbox" id="minecraft" name="game" value="minecraft"/>
            <label for="minecraft"> <img src="images/minecraft.jpg" alt="Minecraft cover art"> </label>
            <input type="checkbox" id="gta" name="game" value="gta"/>
            <label for="gta"> <img src="images/gta.jpg" alt="Grand Theft Auto 5 cover art"> </label>
            <input type="checkbox" id="league" name="game" value="league"/>
            <label for="league"> <img src="images/league.jpg" alt="League of Legends cover art"> </label>
            <input type="checkbox" id="f1" name="game" value="f1"/>
            <label for="f1"> <img src="images/f1.jpg" alt="F1 2021 cover art"> </label>
            <input type="checkbox" id="valorant" name="game" value="valorant"/>
            <label for="valorant"> <img src="images/valorant.jpg" alt="Valorant cover art"> </label>
            <input type="checkbox" id="rl" name="game" value="rl"/>
            <label for="rl"> <img src="images/rl.jpg" alt="Rocket League cover art"> </label>
            <input type="checkbox" id="cod" name="game" value="cod"/>
            <label for="cod"> <img src="images/cod.jpg" alt="Call of Duty Warzone cover art"> </label>
            <input type="checkbox" id="fifa" name="game" value="fifa"/>
            <label for="fifa"> <img src="images/fifa.jpg" alt="FIFA 22 cover art"> </label>
            <input type="checkbox" id="stardew" name="game" value="stardew"/>
            <label for="stardew"> <img src="images/stardew.jpg" alt="Stardew Valley cover art"> </label>
        </div>
        <input type="submit" value="Create account"/>
    </form>

    <script>
        const form = document.getElementById('register')
        form.addEventListener('submit', registerUser)

        async function registerUser(event) {                       /* Pak de resultaten van de form */
            event.preventDefault()  
            const username = document.getElementById('username').value
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value
            const pc = document.getElementById('pc').checked
            const playstation = document.getElementById('playstation').checked
            const xbox = document.getElementById('xbox').checked
            const fortnite = document.getElementById('fortnite').checked
            const minecraft = document.getElementById('minecraft').checked
            const gta = document.getElementById('gta').checked
            const league = document.getElementById('league').checked
            const f1 = document.getElementById('f1').checked
            const valorant = document.getElementById('valorant').checked
            const rl = document.getElementById('rl').checked
            const cod = document.getElementById('cod').checked
            const fifa = document.getElementById('fifa').checked
            const stardew = document.getElementById('stardew').checked

            const result = await fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    email,
                    password,
                    pc,
                    playstation,
                    xbox,
                    fortnite,
                    minecraft,
                    gta,
                    league,
                    f1,
                    valorant,
                    rl,
                    cod,
                    fifa,
                    stardew
                })
            }).then((res) => res.json())

            if(result.status === 'ok'){
                alert("Account succesfully registered")         /* No errors, everything has gone correctly */
            } else {
                alert(result.error)                             /*De browser geeft een alert met daarin de bijpassende error message*/
            }
        }
    </script>
</body>
</html>