<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>          <!--  Helaas geeft deze line een foutmelding in VSC, echter werkt de code wel gewoon zonder enige problemen. -->

<body>
    <a href="/"><h1>Account setup</h1></a>
    <form id="register">
        <input type="text" id="username" placeholder="Username"/>
        <input type="email" id="email" placeholder="Email"/>
        <input type="password" id="password" placeholder="Password"/>
        <input type="submit" value="Submit Form"/>
        <!-- <p>I play on...</p>
        <button>PC</button>
        <button>PS</button>
        <button>XBOX</button>
        <button>NINTENDO</button>
        <p>The language I speak is...</p>
        <input list="languages">
        
        <datalist id="languages">
            <option value="English">
            <option value="Dutch">
            <option value="Spanish">
            <option value="Mandarin">
            <option value="Russian">
        </datalist>
        
        <p>When I play games I want to...</p>
        <input type="checkbox" id="relax" name="relax">
        <label for="relax"> Relax </label>
        <input type="checkbox" id="friends" name="friends">
        <label for="friends"> Make friends </label><br>
        <input type="checkbox" id="win" name="win">
        <label for="win"> Win </label>
        <input type="checkbox" id="better" name="better">
        <label for="better"> Get better </label><br>
        <button>Continue</button> -->
    </form> 
    <script>
        const form = document.getElementById('register')
        form.addEventListener('submit', registerUser)

        async function registerUser(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value

            const result = await fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    email,
                    password
                })
            }).then((res) => res.json())

            if(result.status === 'ok'){
                alert("Account succesfully registered")         /* No errors, everything has gone correctly */
            } else {
                alert(result.error)                             /*De browser geeft een alert met daarin de bijpassende error message*/
            }
        }
    </script>
</body>
</html>