<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game, set, match!</title>
</head>
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <h2>Create new account</h2>
    <button>+</button>
    <h2>Or log in using an existing account</h2>
    <form action="">
        <p>Email</p>
        <textarea name="login_email" id="login_email" cols="20" rows="1"></textarea>
        <p>Password</p>
        <textarea name="login_password" id="login_password" cols="20" rows="1"></textarea>
        <input type="checkbox" id="remember" name="remember" value="remember_yes">
        <label for="remember"> Remember me</label><br>
        <a href="/recover">I forgot my password</a>
    </form>    
</body>
</html>