<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>            <!--  Helaas geeft deze line een foutmelding in VSC, echter werkt de code wel gewoon zonder enige problemen. -->
    
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <p>Create new account</p>
    <a href="/create"><button>+</button></a>
    <p>Or log in using an existing account</p>
    <form action="">
        <label for="email">Email :</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="checkbox" id="remember" name="remember" value="remember_yes">
        <label for="remember"> Remember me</label><br>
        <button>Login</button>
    </form>
    <a href="/recover">I forgot my password</a>
</body>
</html>