<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game, set, match!</title>
</head>
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <h2>Create new account</h2>
    <a href="/create"><button>+</button></a>
    <h2>Or log in using an existing account</h2>
    <form action="">
        <label for="email">Email :</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
        <input type="checkbox" id="remember" name="remember" value="remember_yes">
        <label for="remember"> Remember me</label><br>
        <a href="/recover">I forgot my password</a>
    </form>    
</body>
</html>