<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>            <!--  Helaas geeft deze line een foutmelding in VSC, echter werkt de code wel gewoon zonder enige problemen. -->
    
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <p>Create new account</p>
    <a href="/create"><button>+</button></a>
    <p>Or log in using an existing account</p>
    <% if (messages) { %>
    <p><%= messages.error %></p>
    <% } %>
    <form id="login" action="/" method="post">
        <input type="text" id="username" name="username" autocomplete="off" placeholder="Username..."/>
        <input type="password" id="password" name="password" autocomplete="off" placeholder="Password..."/>
        <input type="submit" value="Login"/>
    </form>
    <a href="/recover">I forgot my password</a>
</body>
</html>