<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>            <!--  Helaas geeft deze line een foutmelding in VSC, echter werkt de code wel gewoon zonder enige problemen. -->
    
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <p>Create new account</p>
    <a href="/create"><button>+</button></a>
    <p>Or log in using an existing account</p>
    <% if (messages) { %>
    <p><%= messages.error %></p>
    <% } %>
    <form id="login" action="/" method="post">
        <input type="text" id="username" name="username" autocomplete="off" placeholder="Username..."/>
        <input type="password" id="password" name="password" autocomplete="off" placeholder="Password..."/>
        <input type="submit" value="Login"/>
    </form>
    <a href="/recover">I forgot my password</a>
    <!-- Bron gebruikt voor het opzetten functionaliteit form: https://www.youtube.com/watch?v=b91XgdyX-SM (codedamn) -->
    <!-- <script>
        const form = document.getElementById('login')
        form.addEventListener('submit', login)

        async function login(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const password = document.getElementById('password').value

            const result = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    password
                })
            }).then((res) => res.json())

            if(result.status === 'ok'){
                console.log('Login successfull: ', result.data)         /* No errors, everything has gone correctly */
                window.location.href = 'http://localhost:3000/profile';
            } else {
                alert(result.error)                                 /*De browser geeft een alert met daarin de bijpassende error message*/
            }
        }
    </script> -->
</body>
</html>