<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>         <!--  Helaas geeft deze line een foutmelding in VSC, echter werkt de code wel gewoon zonder enige problemen. -->
    
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <h2>User profile</h2>
    <p>Welcome <%= name %></p>
    <script>
        console.log({User})
    </script>
</body>
</html>