@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Bron: https://fonts.google.com/specimen/Bebas+Neue#standard-styles */

body {
    background-color: #154c79;
    background-image: linear-gradient(to bottom right, #154c79, #032647);
    color: white;

    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;

    text-align: center;

    padding-bottom: 10em;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.games img {
  width: 6em;
  opacity: 50%;
  padding: .5em;
  margin: 0;

  transition: .25s;
}

div.game .game-label.checked {
  color: cyan;
  text-decoration: underline;
}

div.game .game-label img {
  width: 6em;
  opacity: 50%;
  padding: .5em;
  margin: 0;
  transition: .25s;
}

div.game .game-label.checked img {
  opacity: 100%;
  transform: scale(1.05);
}

.platforms {
    grid-template-columns: 1fr 1fr 1fr; 
}

.platforms label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.platforms label img {
  width: 3em;
  opacity: 50%;
  padding: .5em;
  margin: 0;
  transition: opacity 0.25s, transform 0.25s;
}

.platforms label.checked img {
  opacity: 100%;
  transform: scale(1.05);
}

article img {
    width: 6em;
    margin: 0;
}

a {
    color: cyan;
}

button:first-of-type {
    font-size: 1.2em;
    font-weight: 800;

    margin: 1.4em;
    padding: 1.1em;

    border-radius: 5em;
    border-width: 10px;

    color: white;
    background-color: cyan;

    transition: 0.25s;
}

button:first-of-type:hover {
    border-color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin: 1.1em;
    font-size: 1.05em;

    color: white;
    background-color: #101117;
}

input[type=text], input[type=password] {
    margin-top: 1.5em;
    margin-bottom: .3em;
}

input[type=checkbox] {
    display: none;
}

input[type=submit] {
    border-radius: 10px;
    width: 10em;

    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.2em;
    padding-top: .9em;
    padding-bottom: .9em;
    ;
    color: black;
    background-color: cyan;

    font-weight: bold;
    transition: .25s;
}

input[type=submit]:hover {
    border-color: white;
}

input[type=checkbox]:checked+label {
    color: cyan;
    text-decoration: underline;
}

div img {
    width: 6em;
    opacity: 50%;
    padding: .5em;
    margin: 0;

    transition: .25s;
}

.input_control {
    display: flex;
    flex-direction: column;
}

.input_control input {
    border: 2px solid black;
    border-radius: 8px;
}

.input_control input:focus {
    outline: 0;
}

.input_control.error input {
    border-color: red;
}

.input_control.success input {
    border-color: greenyellow;
}

.input_control .error {
    color: red;
    margin-left: 1em;
    text-align: left;
    display: block;
}

.error {
    color: red;
}

.error_msg {
    color: red;
    text-decoration: underline;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    form {
        margin-left: 16em;
        margin-right: 16em;
    }
}
